.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 4px 10px;
  min-width: 75px;
  transition: background-color 0.3s, opacity 0.3s;
}

.Button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Button:active,
.Button:focus {
  background-color: #2142b2 !important;
  border-color: transparent;
}

.ButtonGroup {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.ButtonGroup button {
  width: auto;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 8px;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #2142b2;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #2142b2;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

.Bright {
  background-color: #2ed9ff;
  color: #2142b2;
}
