.notificationBell {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.notificationButton {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.2s ease-in-out;
  color: rgb(50, 50, 241);
  background: transparent;
  border: none;
}

.notificationButton:hover {
  transform: scale(1.1);
}

.notificationBadge {
  position: absolute;
  top: -4px;
  right: -4px;
  color: rgb(246, 152, 152);
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 10px;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

body[data-theme="light"] .notificationBadge {
  background: #d3d3d3;
}

body[data-theme="dark"] .notificationBadge {
  background: white;
  color: black;
}
